<div class="form-group" >
    <h4>Directions:</h4>
      <%= f.fields_for :directions, @direction do |direction| %>
        <%= direction.label :step %>
        <%= direction.text_field :step, class: 'form-control'%>
      <% end %>
  </div>
