<div class="container">
<h1>Recipes</h1>
<div class="row">
  <% @recipes.each do |recipe| %>
<div class="col-md-4">
  <div class="recipe-box">
    <ul>
      <h4><%= recipe.title %></h4>
      <%= recipe.description %><br>
      <% if user_signed_in? %>
        <%= link_to 'View Recipe', recipe %>
      <% end %>
    </ul>
  </div>
</div>
  <% end %>
  <% if !current_user %>
    <%= link_to "Sign In to Create and View Recipes", new_user_session_path %>
  <% end %>
