<div>
  <h1 align="center">Welcome to Golden Recipes!</h1>
  <%= link_to "Logout", destroy_user_session_path, method: "delete"%>
</div>

#Notes:
#iterate through recipes
#link to recipe title - recipe path
#link to avatar 
