<h1>Form Recipe</h1>
#Notes:
#show image - image tag
#show recipe title, decription, create by recipe.user.email
#iterate thru ingredients and directions (separately)
#link to Back root path
#if user signed_in :
#link to Edit edit recipe path
#link to Delete recipe path method delete
