<h1>New Ingredient</h1>

<% if current_page?(new_ingredient_path) %>
  <%= render 'form', ingredient: @ingredient %>
<% elsif current_page?(new_recipe_ingredient_path) %>
  <%= render 'recipe_ingredient_form', recipe_ingredient: @recipe_ingredient, ingredient: @ingredient %>
<% end %>

<%= link_to 'Back', ingredients_path %>
