<body>
  <main role="main">

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      background-image: url(background.jpg);
      <h1 class="display-3">Welcome to Golden Recipes</h1>
      <p>Enjoy browsing and Create Your Own Recipes to share with others!</p>
    </div>
  </div>
  </main>
  </body>
